body { background: #9c08d5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 41px; display: flex; }
.block-order-0 { color: #25baf3; font-size: 12px; margin-bottom: 5px; }
.block-order-1 { color: #8032ba; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #6ed003; font-size: 12px; margin-bottom: 5px; }
.block-token-3 { color: #d529be; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #27c156; font-size: 12px; margin-bottom: 5px; }